<% if @project %>
  <div class="project-description-section" data-project-id="<%= @project.id%>" >
    <h1 class="project-description-section-heading"><%= @project.project_name %></h1>
    <%= render 'shared/new_task_form', task: @task %>
    <ul class="todo-lists">
    <% @project_tasks.each do |task|   %>
      <%= render 'tasks/single_task_item', task: task %>
    <% end %>
    </ul>
  </div>
<% else %>
  <h1>Sorry no projects loaded into the UI</h1>
<% end %>