// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



// Project Modal
#project-modal {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  // width: 20%;
  border: 1px solid skyblue;
}
